<div class="container">

    <app-header></app-header>
    
    <div class="row">
        <div class="col-sm-6">
            <pm-products></pm-products>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Now Playing, {{ nowPlaying }}
                </div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/18lP9SYCt_E?autoplay=0"></iframe>
                    </div>
                </div>
                <div class="panel-footer">
                    
                </div>
            </div>
        </div>
    </div>

</div>