<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#" (click)="addYoutubeVideo( $event )" class="btn btn-sm btn-success">Add YouTube Video</a>
        <input [(ngModel)]='videoFilter' type="text" name="" class="form-control" style="display: inline-block; max-width: 200px;"
            id="" placeholder="Search ...">
    </div>

    <div *ngIf="videoFormState">
        <video-form></video-form>
    </div>
</div>

<div class="linksWrapper" *ngIf="links && links.length">

    <div class="media">

        <ul class="list-group">
            <li class="list-group-item videoItemLists"
                [class.activeVideoItem]="link == selectedItem" 
                *ngFor="let link of links" 
                (click)="playVideo( link, $event )"
            >

                <div >
                    <div class="media-left">
                        <i class="fa fa-youtube-play" aria-hidden="true" style="font-size: 50px"></i>
                    </div>

                    <div class="media-body" style="{{ cssStyle }}">
                        <div>
                            <star-rating [rating]="link.rating"></star-rating>
                        </div>
                        <h4 class="media-heading" [title]="link.title"><a href="{{ link.link }}" target="_blank">{{ link.title }}</a></h4>
                        <small class="text-primary">{{ link.link }}</small>
                    </div>
                </div>

            </li>
        </ul>

    </div>
</div>