<div class="panel panel-default">
    <div class="panel-heading">
        <a href="">{{pageTitle}}</a> | <a href="">Hide Site Previews</a> | <input type="text" name="" id="" placeholder="Search ...">  
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">
                Filter by:
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Filtered by:</h3>
            </div>
        </div>
    </div>
</div>

<div class="linksWrapper" *ngIf="links && links.length">

  <div class="media">

    <ul class="list-group">
      <li class="list-group-item" *ngFor = "let link of links">

      <div class="media-left">
        <a href="{{ link.link }}" target="_blank" [title]="link.title">
          <img class="media-object" src="http://free.pagepeeker.com/v2/thumbs.php?size=s&url={{ link.link }}" alt="...">
        </a>
      </div>

      <div class="media-body" style="vertical-align: middle;">
        <h4 class="media-heading" [title]="link.title"><a href="{{ link.link }}" target="_blank">{{ link.title }}</a></h4>
        <span class="badge">{{ link.link }}</span>
      </div>

      </li>
    </ul>

  </div>
</div>